# Задание 1

Создайте numpy array с элементами от числа N до 0.

In [1]:
import numpy as np

In [2]:
a = np.arange(35 - 1, 0 - 1, -1)
a

array([34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18,
       17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,
        0])

# Задание 2

Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [3]:
a = (np.arange(35 - 1, 0 - 1, -1)).reshape(7,5)
a

array([[34, 33, 32, 31, 30],
       [29, 28, 27, 26, 25],
       [24, 23, 22, 21, 20],
       [19, 18, 17, 16, 15],
       [14, 13, 12, 11, 10],
       [ 9,  8,  7,  6,  5],
       [ 4,  3,  2,  1,  0]])

In [4]:
b = np.diag(a, k = -4)
b

array([14,  8,  2])

In [5]:
sum(b)

24

# Задание 3

Решите систему уравнений:

4x + 2y + z = 4

x + 3y = 12

5y + 4z = -3

In [6]:
a = np.array([[4, 2, 1], [1, 3, 0], [0, 5, 4]])
b = np.array([4, 12, -3])

In [7]:
[round(x, 4) for x in np.linalg.solve(a, b)]

[0.4667, 3.8444, -5.5556]

# Задание 4

Найдите самого похожего пользователя.

In [8]:
def cosine( a, b ):
    alenght = np.linalg.norm(a)
    blenght = np.linalg.norm(b)
    return np.dot(a, b)/(alenght * blenght)

In [9]:
users_stats = np.array(
    [
        [2, 1, 0, 0, 0, 0],
        [1, 1, 2, 1, 0, 0],
        [2, 0, 1, 0, 0, 0],
        [1, 1, 2, 1, 0, 1],
        [0, 0, 1, 2, 0, 0],
        [0, 0, 0, 0, 0, 5],
        [1, 0, 0, 0, 0, 0],
        [0, 1, 1, 0, 0, 0],
        [0, 0, 0, 1, 1, 3],
        [1, 0, 0, 2, 1, 4]
    ], 
    np.int32
)

In [10]:
next_user_stats = np.array([0, 1, 2, 0, 0, 0])

In [11]:
coses = {k:cosine(v, next_user_stats) for k, v in enumerate(users_stats)}
coses

{0: 0.19999999999999996,
 1: 0.8451542547285165,
 2: 0.3999999999999999,
 3: 0.7905694150420948,
 4: 0.3999999999999999,
 5: 0.0,
 6: 0.0,
 7: 0.9486832980505138,
 8: 0.0,
 9: 0.0}

In [12]:
m = max(coses, key = coses.get)
m

7

# Задание 5

Определите, какому фильму было выставлено больше всего оценок 5.0.

In [13]:
import pandas as pd

In [14]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', 80)

In [15]:
movies=pd.read_csv("movies.csv")
links=pd.read_csv("links.csv")
ratings=pd.read_csv("ratings.csv")
tags=pd.read_csv("tags.csv")

In [16]:
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [17]:
links.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

In [18]:
ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [19]:
tags.head(2)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996

### Работаем с ratings, потом по ключу определяем название фильма.

In [20]:
ratings[ratings.rating == 5].head(2)

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [21]:
count = dict(ratings[ratings.rating == 5].movieId.value_counts())
count

{318: 153,
 296: 123,
 356: 116,
 2571: 109,
 260: 104,
 593: 92,
 527: 92,
 858: 88,
 2959: 81,
 1196: 80,
 110: 80,
 50: 71,
 1198: 69,
 1210: 65,
 2858: 65,
 589: 64,
 4993: 62,
 2028: 61,
 608: 57,
 1197: 55,
 7153: 53,
 47: 52,
 1136: 51,
 58559: 49,
 1270: 49,
 5952: 49,
 1221: 48,
 1: 47,
 457: 46,
 541: 46,
 32: 45,
 1208: 45,
 1089: 45,
 150: 45,
 4973: 43,
 3578: 43,
 4226: 42,
 912: 41,
 79132: 41,
 1193: 41,
 364: 40,
 1213: 40,
 480: 40,
 1200: 38,
 2762: 36,
 1214: 36,
 750: 36,
 1206: 36,
 590: 35,
 293: 35,
 2324: 35,
 588: 35,
 924: 34,
 1704: 34,
 7361: 33,
 2329: 33,
 904: 32,
 1265: 32,
 1732: 32,
 111: 32,
 1291: 31,
 1387: 31,
 595: 31,
 4306: 30,
 1036: 29,
 1258: 29,
 1222: 28,
 3147: 28,
 1097: 28,
 60069: 27,
 1073: 27,
 34: 27,
 780: 26,
 48516: 26,
 919: 26,
 377: 26,
 4878: 25,
 3949: 25,
 68954: 25,
 4011: 25,
 1617: 25,
 1225: 25,
 380: 24,
 1201: 24,
 1247: 24,
 6: 24,
 778: 24,
 1080: 23,
 1240: 23,
 165: 23,
 1199: 23,
 5618: 23,
 223: 23,
 2997: 23,
 109487: 22,
 1968: 22,
 1356: 22,
 923: 22,
 2502: 22,
 2791: 22,
 6377: 22,
 4995: 21,
 1035: 21,
 2716: 21,
 1219: 21,
 3996: 21,
 68157: 21,
 1259: 21,
 6016: 21,
 1204: 21,
 908: 20,
 1250: 20,
 953: 20,
 62: 20,
 6874: 20,
 648: 20,
 1246: 20,
 8874: 20,
 1653: 19,
 1079: 19,
 7438: 19,
 3114: 19,
 2396: 19,
 1230: 19,
 2542: 19,
 17: 19,
 1252: 19,
 1207: 19,
 1394: 18,
 5989: 18,
 1203: 18,
 6539: 18,
 6711: 18,
 1276: 18,
 2918: 18,
 1278: 18,
 1148: 18,
 2804: 18,
 1610: 18,
 1307: 17,
 1090: 17,
 25: 17,
 736: 17,
 903: 17,
 592: 17,
 1304: 17,
 1721: 17,
 91529: 17,
 2700: 17,
 1584: 17,
 48780: 17,
 4027: 17,
 1220: 17,
 733: 17,
 3793: 17,
 337: 16,
 33794: 16,
 4886: 16,
 587: 16,
 1272: 16,
 1527: 16,
 1234: 15,
 553: 15,
 1215: 15,
 49272: 15,
 122904: 15,
 1228: 15,
 500: 15,
 3421: 15,
 555: 15,
 4896: 15,
 1580: 15,
 72998: 15,
 1923: 15,
 1288: 15,
 106782: 14,
 333: 14,
 899: 14,
 78499: 14,
 231: 14,
 92259: 14,
 16: 14,
 2288: 14,
 2019: 14,
 2683: 14,
 357: 14,
 745: 14,
 161: 14,
 1172: 14,
 104: 14,
 8636: 13,
 81834: 13,
 1784: 13,
 910: 13,
 349: 13,
 63082: 13,
 99114: 13,
 36: 13,
 3703: 13,
 898: 13,
 265: 13,
 246: 13,
 2395: 13,
 112852: 13,
 5418: 13,
 74458: 13,
 3552: 13,
 4034: 13,
 353: 13,
 3000: 13,
 89745: 13,
 5816: 12,
 51255: 12,
 48774: 12,
 344: 12,
 2797: 12,
 1997: 12,
 8368: 12,
 339: 12,
 48394: 12,
 1884: 12,
 1262: 12,
 288: 12,
 46578: 12,
 1961: 12,
 1233: 12,
 367: 12,
 2706: 12,
 32587: 12,
 1242: 12,
 1374: 12,
 551: 12,
 8665: 12,
 50872: 12,
 720: 12,
 1267: 12,
 3671: 12,
 2529: 12,
 1275: 12,
 1682: 12,
 1954: 12,
 3175: 12,
 1282: 12,
 58: 12,
 3535: 12,
 2987: 11,
 4262: 11,
 1358: 11,
 1517: 11,
 11: 11,
 2194: 11,
 3052: 11,
 2599: 11,
 4022: 11,
 2115: 11,
 8961: 11,
 454: 11,
 5060: 11,
 1266: 11,
 2078: 11,
 55820: 11,
 2692: 11,
 4308: 11,
 1028: 11,
 3897: 11,
 76093: 11,
 81845: 11,
 2916: 11,
 3471: 11,
 59315: 11,
 2628: 11,
 2289: 11,
 316: 11,
 163: 11,
 51662: 11,
 1274: 11,
 1212: 10,
 1967: 10,
 920: 10,
 597: 10,
 1500: 10,
 3527: 10,
 441: 10,
 292: 10,
 2580: 10,
 6333: 10,
 2761: 10,
 1104: 10,
 913: 10,
 39: 10,
 4848: 10,
 122882: 10,
 2081: 10,
 1673: 10,
 27773: 10,
 2355: 10,
 5349: 10,
 2076: 10,
 1947: 10,
 4979: 10,
 54503: 10,
 54001: 10,
 69844: 10,
 88125: 10,
 57669: 10,
 969: 10,
 1625: 10,
 922: 10,
 1235: 10,
 31658: 10,
 44191: 10,
 8360: 10,
 54286: 10,
 1299: 10,
 594: 10,
 10: 10,
 2011: 10,
 1263: 10,
 253: 10,
 4963: 10,
 40815: 9,
 968: 9,
 69122: 9,
 70286: 9,
 7147: 9,
 272: 9,
 1391: 9,
 73017: 9,
 235: 9,
 1084: 9,
 5995: 9,
 5971: 9,
 475: 9,
 474: 9,
 933: 9,
 56367: 9,
 55247: 9,
 34405: 9,
 91658: 9,
 2000: 9,
 139385: 9,
 1244: 9,
 71535: 9,
 3037: 9,
 1183: 9,
 5445: 9,
 2712: 9,
 2160: 9,
 300: 9,
 1573: 9,
 1302: 9,
 2248: 9,
 21: 9,
 1393: 9,
 47099: 9,
 1285: 9,
 1408: 9,
 1912: 9,
 509: 9,
 2300: 9,
 1223: 9,
 2150: 9,
 5902: 9,
 2657: 9,
 1101: 9,
 838: 9,
 1639: 8,
 1945: 8,
 902: 8,
 3681: 8,
 3448: 8,
 8533: 8,
 168252: 8,
 60684: 8,
 6502: 8,
 115617: 8,
 2064: 8,
 112552: 8,
 1917: 8,
 2572: 8,
 3108: 8,
 168: 8,
 2968: 8,
 800: 8,
 497: 8,
 661: 8,
 109374: 8,
 79702: 8,
 1261: 8,
 112: 8,
 6365: 8,
 1060: 8,
 1249: 8,
 185: 8,
 261: 8,
 29: 8,
 914: 8,
 926: 8,
 4246: 8,
 1407: 8,
 329: 8,
 1663: 8,
 539: 8,
 508: 8,
 3160: 8,
 3916: 8,
 1952: 8,
 1287: 8,
 5991: 8,
 3481: 8,
 3751: 8,
 348: 7,
 45722: 7,
 916: 7,
 1283: 7,
 2617: 7,
 2: 7,
 47610: 7,
 106920: 7,
 1217: 7,
 3361: 7,
 38061: 7,
 1719: 7,
 141: 7,
 4239: 7,
 3972: 7,
 153: 7,
 1209: 7,
 3468: 7,
 134853: 7,
 1641: 7,
 55765: 7,
 93840: 7,
 56782: 7,
 1245: 7,
 1237: 7,
 1748: 7,
 596: 7,
 1243: 7,
 7022: 7,
 3435: 7,
 38038: 7,
 266: 7,
 317: 7,
 215: 7,
 1376: 7,
 80463: 7,
 68237: 7,
 529: 7,
 110102: 7,
 6807: 7,
 151: 7,
 741: 7,
 362: 7,
 471: 7,
 216: 7,
 4571: 7,
 116797: 7,
 2067: 7,
 1982: 7,
 3083: 7,
 8949: 7,
 1676: 7,
 2427: 7,
 3994: 6,
 1059: 6,
 586: 6,
 905: 6,
 4816: 6,
 4014: 6,
 3948: 6,
 2947: 6,
 4720: 6,
 95: 6,
 44199: 6,
 104879: 6,
 3910: 6,
 148626: 6,
 2144: 6,
 866: 6,
 1256: 6,
 2490: 6,
 2318: 6,
 434: 6,
 951: 6,
 4002: 6,
 2020: 6,
 3100: 6,
 2710: 6,
 225: 6,
 44555: 6,
 2423: 6,
 6934: 6,
 2278: 6,
 2023: 6,
 5903: 6,
 7099: 6,
 1231: 6,
 164179: 6,
 2353: 6,
 33166: 6,
 3508: 6,
 2872: 6,
 306: 6,
 2671: 6,
 2948: 6,
 2321: 6,
 3740: 6,
 1284: 6,
 1411: 6,
 2640: 6,
 1645: 6,
 194: 6,
 3499: 6,
 1041: 6,
 35836: 6,
 2005: 6,
 5673: 6,
 7387: 6,
 5010: 6,
 111759: 6,
 70: 6,
 4235: 6,
 68358: 6,
 3275: 6,
 236: 6,
 2302: 6,
 1357: 6,
 1178: 6,
 1953: 6,
 1188: 6,
 2186: 6,
 2193: 6,
 54997: 6,
 3911: 6,
 3362: 6,
 3328: 6,
 2012: 6,
 2268: 6,
 3: 6,
 2080: 6,
 59369: 6,
 3082: 6,
 98809: 6,
 3683: 6,
 909: 6,
 1921: 6,
 1292: 6,
 368: 6,
 1248: 6,
 3253: 6,
 33493: 6,
 1298: 6,
 3030: 6,
 3451: 6,
 2352: 5,
 1674: 5,
 802: 5,
 1587: 5,
 122918: 5,
 5299: 5,
 442: 5,
 119145: 5,
 8950: 5,
 108932: 5,
 543: 5,
 2161: 5,
 3424: 5,
 2890: 5,
 94959: 5,
 81591: 5,
 3039: 5,
 5378: 5,
 69757: 5,
 6942: 5,
 66934: 5,
 115713: 5,
 277: 5,
 33679: 5,
 290: 5,
 2788: 5,
 552: 5,
 520: 5,
 928: 5,
 6936: 5,
 65261: 5,
 112556: 5,
 350: 5,
 1257: 5,
 1031: 5,
 2366: 5,
 2686: 5,
 162: 5,
 58998: 5,
 96821: 5,
 5690: 5,
 44195: 5,
 954: 5,
 280: 5,
 104841: 5,
 54995: 5,
 232: 5,
 1253: 5,
 3072: 5,
 431: 5,
 494: 5,
 3408: 5,
 307: 5,
 61240: 5,
 1711: 5,
 1129: 5,
 3785: 5,
 134130: 5,
 3089: 5,
 8917: 5,
 5225: 5,
 628: 5,
 786: 5,
 2951: 5,
 784: 5,
 308: 5,
 87232: 5,
 319: 5,
 88129: 5,
 3730: 5,
 101: 5,
 166528: 5,
 1958: 5,
 122886: 5,
 96079: 5,
 1103: 5,
 92535: 5,
 785: 5,
 1449: 5,
 47997: 5,
 96610: 5,
 69481: 5,
 111362: 5,
 930: 5,
 48385: 5,
 30749: 5,
 1372: 5,
 36529: 5,
 955: 5,
 79091: 5,
 915: 5,
 4025: 5,
 2915: 5,
 3418: 5,
 524: 5,
 1224: 5,
 2944: 5,
 3363: 5,
 1466: 4,
 3022: 4,
 52973: 4,
 61024: 4,
 85: 4,
 41566: 4,
 1635: 4,
 7371: 4,
 175: 4,
 222: 4,
 64614: 4,
 18: 4,
 1241: 4,
 86882: 4,
 52281: 4,
 252: 4,
 5064: 4,
 5956: 4,
 177765: 4,
 122916: 4,
 5377: 4,
 46976: 4,
 97921: 4,
 93838: 4,
 3081: 4,
 1049: 4,
 170705: 4,
 106696: 4,
 55276: 4,
 59784: 4,
 3814: 4,
 1175: 4,
 89904: 4,
 53996: 4,
 98491: 4,
 122900: 4,
 152081: 4,
 3429: 4,
 88163: 4,
 370: 4,
 1094: 4,
 4975: 4,
 1907: 4,
 2010: 4,
 80906: 4,
 1380: 4,
 1227: 4,
 106100: 4,
 2167: 4,
 97304: 4,
 48: 4,
 3702: 4,
 3983: 4,
 3176: 4,
 671: 4,
 3070: 4,
 106489: 4,
 3034: 4,
 3033: 4,
 832: 4,
 3019: 4,
 3213: 4,
 69: 4,
 82: 4,
 2398: 4,
 8641: 4,
 514: 4,
 2501: 4,
 62336: 4,
 7293: 4,
 2083: 4,
 1370: 4,
 466: 4,
 1042: 4,
 122892: 4,
 3489: 4,
 5218: 4,
 1909: 4,
 31878: 4,
 1086: 4,
 4128: 4,
 122912: 4,
 177593: 4,
 187593: 4,
 5103: 4,
 83134: 4,
 3301: 4,
 3246: 4,
 1280: 4,
 176: 4,
 5669: 4,
 27611: 4,
 142488: 4,
 3836: 4,
 4105: 4,
 115149: 4,
 2174: 4,
 55363: 4,
 2908: 4,
 2394: 4,
 3504: 4,
 994: 4,
 1293: 4,
 4642: 4,
 805: 4,
 4718: 4,
 224: 4,
 788: 4,
 7143: 4,
 2291: 4,
 1476: 4,
 86833: 4,
 7254: 4,
 2231: 4,
 1956: 4,
 1269: 4,
 1211: 4,
 3753: 4,
 282: 4,
 72226: 4,
 2924: 4,
 86: 4,
 61323: 4,
 40629: 4,
 5013: 4,
 3201: 4,
 2018: 4,
 5110: 4,
 4776: 4,
 2455: 4,
 105504: 4,
 67255: 4,
 30707: 4,
 1927: 4,
 207: 4,
 610: 4,
 247: 4,
 72641: 4,
 1093: 4,
 7323: 4,
 8784: 4,
 6350: 4,
 1096: 4,
 515: 4,
 2763: 4,
 2871: 4,
 6460: 4,
 1127: 4,
 84152: 4,
 3266: 4,
 4321: 4,
 8798: 4,
 1179: 4,
 1218: 4,
 3152: 4,
 81847: 4,
 2360: 4,
 2239: 4,
 3503: 4,
 54259: 4,
 417: 4,
 44665: 3,
 3104: 3,
 64969: 3,
 412: 3,
 102445: 3,
 52: 3,
 1300: 3,
 86332: 3,
 91500: 3,
 1960: 3,
 3307: 3,
 1939: 3,
 1131: 3,
 48738: 3,
 106642: 3,
 106918: 3,
 104211: 3,
 64839: 3,
 55908: 3,
 7981: 3,
 3868: 3,
 2985: 3,
 1333: 3,
 112290: 3,
 918: 3,
 4499: 3,
 6218: 3,
 4334: 3,
 2935: 3,
 2912: 3,
 2819: 3,
 724: 3,
 1303: 3,
 1273: 3,
 3265: 3,
 1680: 3,
 1194: 3,
 3101: 3,
 59387: 3,
 7090: 3,
 4144: 3,
 2336: 3,
 24: 3,
 3727: 3,
 5026: 3,
 647: 3,
 1916: 3,
 45: 3,
 112183: 3,
 1485: 3,
 2243: 3,
 3068: 3,
 1753: 3,
 3698: 3,
 1343: 3,
 176371: 3,
 599: 3,
 51935: 3,
 6373: 3,
 31696: 3,
 122922: 3,
 2687: 3,
 122920: 3,
 102125: 3,
 57274: 3,
 7373: 3,
 2403: 3,
 1347: 3,
 98961: 3,
 1350: 3,
 1747: 3,
 1608: 3,
 4370: 3,
 4015: 3,
 3088: 3,
 55721: 3,
 2795: 3,
 84944: 3,
 2108: 3,
 5066: 3,
 6947: 3,
 4223: 3,
 1957: 3,
 1949: 3,
 440: 3,
 485: 3,
 3556: 3,
 54190: 3,
 7008: 3,
 2600: 3,
 96737: 3,
 86377: 3,
 86345: 3,
 51540: 3,
 714: 3,
 170: 3,
 2792: 3,
 1683: 3,
 932: 3,
 53125: 3,
 159817: 3,
 2953: 3,
 2087: 3,
 3174: 3,
 122926: 3,
 3060: 3,
 1296: 3,
 14: 3,
 7169: 3,
 1405: 3,
 3224: 3,
 3925: 3,
 3543: 3,
 3507: 3,
 1238: 3,
 1297: 3,
 1147: 3,
 1095: 3,
 6863: 3,
 673: 3,
 213: 3,
 2436: 3,
 31410: 3,
 31364: 3,
 6620: 3,
 7451: 3,
 198: 3,
 7121: 3,
 971: 3,
 1367: 3,
 3967: 3,
 5291: 3,
 1950: 3,
 3404: 3,
 5992: 3,
 1734: 3,
 1339: 3,
 1277: 3,
 1186: 3,
 1022: 3,
 34162: 3,
 1883: 3,
 4437: 3,
 160: 3,
 2137: 3,
 7458: 3,
 2141: 3,
 3869: 3,
 783: 3,
 616: 3,
 314: 3,
 4041: 3,
 257: 3,
 6155: 3,
 2470: 3,
 1025: 3,
 4019: 3,
 19: 3,
 2202: 3,
 1029: 3,
 22: 3,
 2921: 3,
 3969: 3,
 5: 3,
 4967: 3,
 708: 3,
 107: 3,
 906: 3,
 158: 3,
 3044: 3,
 2843: 3,
 2949: 3,
 2583: 3,
 2991: 3,
 1124: 3,
 116897: 3,
 2124: 3,
 2135: 3,
 93510: 3,
 52328: 3,
 61132: 3,
 2565: 3,
 49530: 3,
 47200: 3,
 345: 3,
 7445: 3,
 ...}

In [22]:
max5rating_filmId = max(count, key = count.get)
max5rating_filmId

318

In [23]:
movies[movies.movieId == max5rating_filmId]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 6

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Latvia, Lithuania, Estonia) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [24]:
power=pd.read_csv("power.csv")
power

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [25]:
pp_filter1 = power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])
power_countries = power[pp_filter1]
p_c = power_countries
p_c

           country  year  quantity  category
373      Lithuania  2014      39.0         1
374      Lithuania  2013     192.0         1
375      Lithuania  2012     196.0         1
376      Lithuania  2011     171.0         1
377      Lithuania  2010     158.0         1
...            ...   ...       ...       ...
1188862  Lithuania  2003       0.0        71
1188863  Lithuania  2002       0.0        71
1188864  Lithuania  2001       0.0        71
1188865  Lithuania  2000       0.0        71
1188866  Lithuania  1999       0.0        71

[27306 rows x 4 columns]

In [26]:
pp_filter2 = p_c['category'].isin([4, 12, 21])
power_category_countries = p_c[pp_filter2]
p_c_c = power_category_countries
p_c_c

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
10621     Estonia  2004       1.0         4
...           ...   ...       ...       ...
253986  Lithuania  2005       1.0        21
253987  Lithuania  2004       1.0        21
253988  Lithuania  2003       0.0        21
253989  Lithuania  2002       0.0        21
253990  Lithuania  2001       0.0        21

[1253 rows x 4 columns]

In [27]:
power_quantity_category_countries = p_c_c[p_c_c.quantity >= 0]
p_q_c_c = power_quantity_category_countries
p_q_c_c

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
10621     Estonia  2004       1.0         4
...           ...   ...       ...       ...
253986  Lithuania  2005       1.0        21
253987  Lithuania  2004       1.0        21
253988  Lithuania  2003       0.0        21
253989  Lithuania  2002       0.0        21
253990  Lithuania  2001       0.0        21

[1245 rows x 4 columns]

In [28]:
temp2005 = p_q_c_c[p_q_c_c.year >= 2005]
power_quantity_category_countries_years = temp2005[temp2005.year <= 2010]
p_q_c_c_y = power_quantity_category_countries_years
p_q_c_c_y

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[408 rows x 4 columns]

In [29]:
p_q_c_c_y.quantity.sum()

240580.0