# Импорт pandas

In [ ]:
# импортируем библиотеки numpy и pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# импортируем библиотеку datetime для работы с датами

In [ ]:
import datetime
from datetime import datetime, date

In [ ]:
# Задаем некоторые опции библиотеки pandas, которые
# настраивают вывод

In [ ]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

In [ ]:
# импортируем библиотеку matplotlib для построения графиков

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

# Объект Series

In [ ]:
# создаем объект Series, состоящий
# из четырех элементов

In [ ]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# получаем значение для метки индекса 1

In [ ]:
s[1]

2

In [ ]:
# возвращаем серию с элементами,
# у которых метки 1 и 3

In [ ]:
s[[1, 3]]

1    2
3    4
dtype: int64

In [ ]:
# создаем серию, задав индекс в явном виде

In [ ]:
s = pd.Series([1, 2, 3, 4],
index = ['a', 'b', 'c', 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# ищем элементы серии, у которых
# метки индекса 'a' и 'd'
s[['a', 'd']]

a    1
d    4
dtype: int64

In [ ]:
# передаем список целочисленных значений в объект Series,
# у которого метки индекса записаны в виде букв,
# поиск буквенных меток будет осуществлен на основе
# числового индекса, начинающегося с 0,
# как если бы мы использовали обычный массив
s[[1, 2]]

b    2
c    3
dtype: int64

In [ ]:
# извлекаем только индекс объекта Series
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
# создаем объект Series, индекс которого - серия дат
# между двумя определенными датами (включительно)
dates = pd.date_range('2016-04-01', '2016-04-06')
dates

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05', '2016-04-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# создаем объект Series, в котором значениям температуры
# будут соответствовать даты в индексе
temps1 = pd.Series([80, 82, 85, 90, 83, 87],
index = dates)
temps1

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, dtype: int64

In [ ]:
# какая температура была 2016-04-04?
temps1['2016-04-04']

90

In [ ]:
# создаем вторую серию значений, используя
# тот же самый индекс
temps2 = pd.Series([70, 75, 69, 83, 79, 77],
index = dates)
temps2

2016-04-01    70
2016-04-02    75
2016-04-03    69
2016-04-04    83
2016-04-05    79
2016-04-06    77
Freq: D, dtype: int64

In [ ]:
# следующий программный код выравнивает
# обе серии по меткам индекса и вычисляет
# разницу температур в этих метках
temp_diffs = temps1 - temps2
temp_diffs

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64

In [ ]:
# вычислим разницу температур для определенной числовой
# метки индекса, как если бы серия была массивом
temp_diffs[2]

16

In [ ]:
# вычисляем среднее значение разности температур
temp_diffs.mean()

9.0

# Объект DataFrame

In [ ]:
# создаем объект DataFrame с двумя сериями temp1 и temp2
# и присваиваем им имена столбцов
temps_df = pd.DataFrame({'Missoula': temps1,'Philadelphia': temps2})
temps_df

            Missoula  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [ ]:
# получаем столбец Missoula
temps_df['Missoula']

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missoula, dtype: int64

In [ ]:
# аналогичным образом мы можем получить
# столбец Philadelphia
temps_df['Philadelphia']

2016-04-01    70
2016-04-02    75
2016-04-03    69
2016-04-04    83
2016-04-05    79
2016-04-06    77
Freq: D, Name: Philadelphia, dtype: int64

In [ ]:
# выводим оба столбца
temps_df[['Philadelphia', 'Missoula']]

            Philadelphia  Missoula
2016-04-01            70        80
2016-04-02            75        82
2016-04-03            69        85
2016-04-04            83        90
2016-04-05            79        83
2016-04-06            77        87

In [ ]:
# извлекаем столбец Missoula с помощью
# "вычисляемого" свойства
temps_df.Missoula

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missoula, dtype: int64

In [ ]:
# вычисляем разницу температур двух городов
temps_df.Missoula - temps_df.Philadelphia

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64

In [ ]:
# добавляем в датафрейм temp_df столбец Difference,
# который содержит разности температур
temps_df['Difference'] = temp_diffs
temps_df

            Missoula  Philadelphia  Difference
2016-04-01        80            70          10
2016-04-02        82            75           7
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

In [ ]:
# получаем имена столбцов, которые
# к тому же являются объектом Index
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [ ]:
# отбираем значения разностей температур в столбце Difference, начиная
# с позиции 1 (2016-04-02) и заканчивая позицией 4 (2016-04-05),
# как если бы это был массив
# обратите внимание, что конец диапазона не включается, то есть
# диапазон не включает элемент с позицией 4 (2016-04-05)
temps_df.Difference[1:4]

2016-04-02     7
2016-04-03    16
2016-04-04     7
Freq: D, Name: Difference, dtype: int64

In [ ]:
# получаем строку, которой соответствует
# метка индекса 1
temps_df.iloc[1]

Missoula        82
Philadelphia    75
Difference       7
Name: 2016-04-02 00:00:00, dtype: int64

In [ ]:
# имена столбцов стали индексом,
# мы "повернули" их
temps_df.iloc[1].index

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [ ]:
# извлекаем строку с помощью метки индекса,
# воспользовавшись свойством .loc
temps_df.loc['2016-04-05']

Missoula        83
Philadelphia    79
Difference       4
Name: 2016-04-05 00:00:00, dtype: int64

In [ ]:
# получаем значения столбца Difference в строках 1, 3 и 5,
# используя целочисленные позиции с началом отсчета в 0
temps_df.iloc[[1, 3, 5]].Difference

2016-04-02     7
2016-04-04     7
2016-04-06    10
Freq: 2D, Name: Difference, dtype: int64

In [ ]:
# какие значения в столбце Missoula > 82?
temps_df.Missoula > 82

In [ ]:
# возвращаем строки, в которых значения температуры
# для столбца Missoula > 82
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

In [ ]:
# создаем датафрейм из одномерного
# массива NumPy
pd.DataFrame(np.arange(1, 6))

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
# создаем датафрейм из двумерного
# массива NumPy
df = pd.DataFrame(np.array([[10, 11], [20, 21]]))
df

    0   1
0  10  11
1  20  21

In [ ]:
# получаем индекс столбцов
df.columns

RangeIndex(start=0, stop=2, step=1)

In [ ]:
# задаем имена столбцов
df = pd.DataFrame(np.array([[70, 71], [90, 91]]),
columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

In [ ]:
# сколько строк?
len(df)

2

In [ ]:
# какова размерность датафрейма?
df.shape

(2, 2)

# Создание объекта DataFrame с помощью питоновского словаря и объектов Series

In [ ]:
# создание датафрейма с помощью
# питоновского словаря
temps_missoula = [70, 71]
temps_philly = [90, 91]
temperatures = {'Missoula': temps_missoula,
'Philadelphia': temps_philly}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

In [ ]:
# создаем датафрейм для списка объектов Series
temps_at_time0 = pd.Series([70, 90])
temps_at_time1 = pd.Series([71, 91])
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df

    0   1
0  70  90
1  71  91

In [ ]:
# попытаемся задать имена столбцов
df = pd.DataFrame([temps_at_time0, temps_at_time1],
columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0       NaN           NaN
1       NaN           NaN

In [ ]:
# задаем имена столбцов после создания датафрейма
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns = ['Missoula', 'Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [ ]:
# создаем датафрейм с помощью словаря,
# состоящего из объектов Series
temps_mso_series = pd.Series(temps_missoula)
temps_phl_series = pd.Series(temps_philly)
df = pd.DataFrame({'Missoula': temps_mso_series,
'Philadelphia': temps_phl_series})
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [ ]:
# выравнивание происходит при создании датафрейма
temps_nyc_series = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'Missoula': temps_mso_series,
'Philadelphia': temps_phl_series,
'New York': temps_nyc_series})
df

   Missoula  Philadelphia  New York
0      70.0          90.0       NaN
1      71.0          91.0      85.0
2       NaN           NaN      87.0